.container .color{
    position: absolute;
    filter:blur(150px) ;
}
.container .color:nth-child(1){
    top:-350px ;
    width: 600px;
    height:600px ; 
   background: #806cef;

}
.card-left{
    position: relative;
    width: 400px ;
    min-height: 800px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    
    backdrop-filter: blur(20px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255,0.5);
    border-right : 1px solid rgba(255, 255, 255,0.2);
    border-bottom: 1px solid rgba(255, 255, 255,0.2);
}